.single-location__card {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #dadedf;
  border-radius: 3px;
  padding: 15px 25px;
  border-bottom: 1px solid #556672;
}
